html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
  .clock-container {
    display: grid;
    width: $clock-width;
    height: $clock-height;
    grid-template-columns:repeat(27, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
  }
}
